<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src = "./js/vue.js"></script>
</head>
<body>
	<div id ='app'>
		姓名:<input type="text" v-model="name">
	<br>
		年龄：{{age}}
		<br>
		
		<button @click="add">加</button>
		<button @click="rem">减</button>
		<br>
		<input type="checkbox" v-model="hobby" value="WOW">WOW
		<br><input type="checkbox" v-model="hobby" value="LOL">LOL
		<br><input type="checkbox" v-model="hobby" value="王者农药">王者农药
		<br><input type="checkbox" v-model="hobby" value="吃鸡">吃鸡
	</div>
	<script type="text/javascript">
		var app = new Vue({
			el:"#app",
			data:{
				name:"张三",
				age:18
			
			},
			methods:{
				add:function(){
					this.age++;
				},
				rem(){
					this.age--;
				}
			}
		})

	</script>
</body>
</html> 