<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiyun.mapper.StuMapper" >

<resultMap type="Student" id="last">
	<id column="sid" property="sid"/>
	<result column="sname" property="sname"/>
	<result column="sex" property="sex"/>
	<result column="pic" property="pic"/>
	<result column="birthday" property="birthday"/>
	<result column="cid" property="cid"/>
<association property="clazz" javaType="clazz">
	<id column="cid" property="cid"/>
	<result column="cname" property="cname"/>
</association>

</resultMap>

		<select id="selectAll" resultMap="last">
		select * from student s,class c
		<where>
		s.cid=c.cid
		</where>
		</select>
		<select id="findClazz" resultType="Clazz">
		select * from class
		</select>
		<insert id="add" parameterType="Student">
		insert into student values(null,#{sname},#{sex},null,#{birthday},#{cid})
		</insert>
		<update id="update" parameterType="student">
		update student set sname=#{sname},sex=#{sex},birthday=#{birthday},cid=#{cid} where sid=#{sid}
		</update>
		<delete id="del"  >
		delete from student where sid in
		<foreach collection="ids" item="id" open="(" close=")" separator=",">
		#{id}
		</foreach>
		</delete>
</mapper>

